*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #9b58b6;
}

.form{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.wrapper .title{
    font-size: 25px;
    font-weight: 500;
}

form .form-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .form-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.form-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-details .input-box input[type="text"],
.form-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-details .input-box input[type="file"]{
    width: 100%;
}

.form-details .input-box input[type="text"]:focus,
.form-details .input-box input[type="text"]:valid{
    border-color: #9b58b6;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b58b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b58b6);
}

@media (max-width: 584px){
    .wrapper{
        max-width: 100%;
    }

    form .form-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .wrapper form .form-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .form-details::-webkit-scrollbar{
        width: 0;
    }
}